.chat-header-container {
    top: 0; 
    /*padding: 0.5rem;*/ 
}

.chat-header-controls {
    margin-bottom: 0.5rem; 
}

h1 {
    overflow: hidden;
    text-overflow: ellipsis;
}



@media (min-width: 768px) {
    .chat-header-container {
        position: sticky;
    }
}
